<footer class="footer">
    <div class="footer-top">
        <div class="footer-left fade-left">
                <div class="footer-left-logo">
                    <partial name="Assets/logo" />
                    <span>Incube</span>
                </div>
            <a href="#" class="--phone">Let's talk</a>
        </div>
        <ul class="footer-middle fadein">
            <partial name="Compoments/Links" />
        </ul>
        <div class="footer-right fade-right">
            <a href="#" class="footer-right-phone">
                <partial name="Media/Phone" />
                <span>+961 78 321 123</span>
            </a>
            <a href="#" class="footer-right-location">
                <partial name="Media/Location" />
                <span>Beirut, Lebanon</span>
            </a>
            <div class="footer-right-media">
                <partial name="Compoments/Media" />
            </div>
        </div>
    </div>
    <div class="footer-bottom fade-left">
        <div>
            <span>Copyrights © @DateTime.UtcNow.Year </span>
            <span>Designed and Developed by Wissam Farhat</span>
        </div>
    </div>
</footer>