<header class="header">
    <div>
        <div class="header-logo fadeout">
            <a href="#">
                <partial name="Assets/logo" />
                <span>Incube</span>
            </a>
        </div>
        <ul class="header-nav fadeout">
            <partial name="Compoments/Links" />
            <li>
                <a href="#" class="--phone">Let's talk</a>
            </li>
        </ul>
    </div>
</header>