<li>
    <a href="#" class="_active">Home</a>
</li>
<li>
    <a href="#">Who we are</a>
</li>
<li>
    <a href="#">Services</a>
</li>
<li>
    <a href="#">Conatct us</a>
</li>
<li>
    <a href="#">Join Us</a>
</li>