<a href="#">
    <partial name="Media/Facebook" />
</a>

<a href="#">
    <partial name="Media/Instagram" />
</a>

<a href="#">
    <partial name="Media/Tiktok" />
</a>

<a href="#">
    <partial name="Media/Twitter" />
</a>